<div class = "card">
    <div class = "card-img">
        <p class ="card-name">Name: {{name}}</p>
<img src="{{flags.svg}}" alt="{{name}}">
    </div>
    <ul class ="card-info">
        <p class="card-item">capital: {{capital}}</p>
        
        <p class="card-item">population:{{population}}</p>
    <li class="card-item"><b>languages:{{Object.value(languages).join(', ')}} </b>
        </li>
    </ul>
</div>